<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="LOGCAMINHO" value="C:\Users\Hugo\Downloads\Project_TS-main (1)\Project_TS-main\Fase2\ChatServer\LOG"></add>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>